@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  height: 100vh;
  padding: 30px;
  color: white;
  font-family: "Bungee";
}

#root {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
}

h1 {
  font-family: "Rubik Dirt";
  font-size: 80px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
